


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
      <app-header></app-header>
      <app-menu></app-menu>
  
  
      <!--**********************************
          Content body start
      ***********************************-->
      <router-outlet></router-outlet>
      <!--**********************************
          Content body end
      ***********************************-->


      <!--**********************************
          Footer start
      ***********************************-->
     <app-footer></app-footer>
      <!--**********************************
          Footer end
      ***********************************-->

  <!--**********************************
         Support ticket button start
      ***********************************-->

      <!--**********************************
         Support ticket button end
      ***********************************-->


  </div>
  <!--**********************************
      Main wrapper end
  ***********************************-->
